/* COMMON COLOR VARIABLES */
:root {
    --blue-primary: #92aaf9;
    --blue-secondary: #eef2fd;
    --dark-transparent: rgba(0, 0, 0, 0.5);
}

.wrapper .main-content .addBtn {
    transition: all 0.2s ease-in-out;
}

.wrapper .main-content .addBtn:hover {
    transform: translateY(1px);
}

.wrapper .main-content .dreamBoardGrid .dreamCard {
    width: 100% !important;
    aspect-ratio: 1 / 0.75 !important;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.wrapper .main-content .dreamBoardGrid .dreamCard:hover {
    transform: translateY(-2px)
}

.wrapper .main-content .dreamBoardGrid .dreamCard .pinIcon {
    transition: all 0.2s ease-in-out;
}

.wrapper .main-content .dreamBoardGrid .dreamCard .pinIcon:hover {
    transform: translateY(-3px);
}


.wrapper .main-content .dreamBoardGrid .dreamCard .dropdownIcon,
.wrapper .main-content .dreamBoardGrid .dreamCard .imgText {
    transition: 0.5s ease;
    opacity: 0;
}

.wrapper .main-content .dreamBoardGrid .dreamCard:hover .dropdownIcon,
.wrapper .main-content .dreamBoardGrid .dreamCard:hover .imgText {
    opacity: 1;
}

.wrapper .main-content .dreamBoardGrid .dreamCard .img-fluid {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transition: all 0.5s ease;
    opacity: 1;
}

.wrapper .main-content .dreamBoardGrid .dreamCard:hover .img-fluid {
    filter: brightness(0.6);
}

.wrapper .main-content .drop-area {
    border: 2px dashed var(--blue-primary) !important;
    border-radius: 5px;
    background: var(--blue-secondary);
}

.wrapper .main-content .btn-close {
    width: 6px !important;
    height: 6px !important;
}


@media (max-width: 1400px) {
    .wrapper .main-content .dreamBoardGrid .dreamCard .cardPara {
        font-size: 15px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardSubpara {
        font-size: 13px !important;
    }
}

@media (max-width: 1200px) {
    .wrapper .main-content .dreamBoardGrid .dreamCard .cardPara {
        font-size: 13px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardSubpara {
        font-size: 12px !important;
    }
}

@media (max-width: 1024px) {

    .wrapper .main-content .dreamBoardGrid .dreamCard .dropdownIcon,
    .wrapper .main-content .dreamBoardGrid .dreamCard .imgText {
        opacity: 1;
    }
}

@media (max-width: 991px) {

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardPara,
    .wrapper .main-content .imgCriteriaHead {
        font-size: 16px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardSubpara {
        font-size: 15px !important;
    }

    .wrapper .main-content .imgCriteriaSubHead {
        font-size: 14px !important;
    }

    .wrapper .main-content .addDreamModal,
    .wrapper .main-content .addDreamModal .dropArea,
    .wrapper .main-content .uploadNewImageModal {
        width: 100% !important;
        max-width: 100% !important;
    }

}

/* CUSTOM CLASSES */
.cardPara {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-nodrop:disabled {
    cursor: no-drop !important;
    pointer-events: all !important;
}

.actionBtnGrp {
    width: 200px !important;
}

.top-7 {
    top: 7% !important;
}

.bg-dark-transparent {
    background: var(--dark-transparent);
}

.font-14 {
    font-size: 14px !important;
}

.w-85 {
    width: 85% !important;
}

.fs-7 {
    font-size: 13px !important;
}

.vh-50 {
    height: 50vh !important;
}


/* CAROUSEL CSS (Splide.js) */

.splide {
    margin: 0 auto;
}

.thumbnails {
    margin: 1rem auto 0;
}

.thumbnail {
    width: 120px !important;
    height: 120px !important;
    margin: 0 0.2rem;
    opacity: 0.3;
}

.thumbnail.is-active {
    opacity: 1 !important;
}

.splide__track,
.splide__list {
    width: 100% !important;
    max-width: 50vw !important;
    height: 450px;
    max-height: 65vh !important;
    margin: 0 auto;
}

/* Add numbers to pagination buttons by CSS */
.splide__pagination {
    counter-reset: pagination-num;
    display: none;
}

.splide__arrow:disabled {
    cursor: no-drop !important;
}

.splide__pagination li {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1024px) {

    .splide__track,
    .splide__list {
        max-width: 65vw !important;
        height: 400px !important;
        max-height: 55vh !important;
    }

    .thumbnails {
        overflow-x: auto !important;
        max-width: 100vw !important;
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    #thumbnails {
        display: none !important;
    }

    .splide__arrow--prev {
        margin-left: -30px !important;
    }

    .splide__arrow--next {
        margin-right: -30px !important;
    }

    .splide__pagination--custom {
        position: absolute;
        top: 115%;
    }

    .splide__pagination {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        flex-wrap: wrap;
    }

}