/* GOOGLE FONTS URL */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* COMMON COLOR VARIABLES */
:root {
    --blue-primary: #92aaf9;
    --blue-secondary: #eef2fd;
    --dark-transparent: rgba(0, 0, 0, 0.5);
}

.wrapper .main-content .dreamBoardGrid .dreamCard {
    width: 100% !important;
    aspect-ratio: 1 / 0.75 !important;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.wrapper .main-content .dreamBoardGrid .dreamCard:hover {
    transform: translateY(-2px)
}

.wrapper .main-content .dreamBoardGrid .dreamCard .pinIcon {
    transition: all 0.2s ease-in-out;
}

.wrapper .main-content .dreamBoardGrid .dreamCard .pinIcon:hover {
    transform: translateY(-3px);
}


.wrapper .main-content .dreamBoardGrid .dreamCard .dropdownIcon,
.wrapper .main-content .dreamBoardGrid .dreamCard .imgText {
    transition: 0.5s ease;
    opacity: 0;
}

.wrapper .main-content .dreamBoardGrid .dreamCard:hover .dropdownIcon,
.wrapper .main-content .dreamBoardGrid .dreamCard:hover .imgText {
    opacity: 1;
}

.wrapper .main-content .dreamBoardGrid .dreamCard .img-fluid {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transition: all 0.5s ease;
    opacity: 1;
}

.wrapper .main-content .dreamBoardGrid .dreamCard:hover .img-fluid {
    filter: brightness(0.6);
}

.wrapper .main-content .drop-area {
    border: 2px dashed var(--blue-primary) !important;
    border-radius: 5px;
    background: var(--blue-secondary);
}


@media (max-width: 1400px) {
    .wrapper .main-content .dreamBoardGrid .dreamCard .cardPara {
        font-size: 15px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardSubpara {
        font-size: 13px !important;
    }
}

@media (max-width: 1200px) {
    .wrapper .main-content .dreamBoardGrid .dreamCard .cardPara {
        font-size: 13px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardSubpara {
        font-size: 12px !important;
    }
}

@media (max-width: 991px) {
    .wrapper .main-content .dreamBoardGrid .dreamCard .cardPara {
        font-size: 16px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .cardSubpara {
        font-size: 15px !important;
    }

    .wrapper .main-content .imgCriteriaHead {
        font-size: 16px !important;
    }

    .wrapper .main-content .imgCriteriaSubHead {
        font-size: 14px !important;
    }

    .wrapper .main-content .dreamBoardGrid .dreamCard .dropdownIcon,
    .wrapper .main-content .dreamBoardGrid .dreamCard .imgText {
        opacity: 1;
    }
}

/* CUSTOM CLASSES */
.cardPara {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-nodrop:disabled {
    cursor: no-drop !important;
    pointer-events: all !important;
}

.actionBtnGrp {
    width: 200px !important;
}

.top-7 {
    top: 7% !important;
}

.bg-dark-transparent {
    background: var(--dark-transparent);
}

.font-14 {
    font-size: 14px !important;
}

.w-85 {
    width: 85% !important;
}

/* CAROUSEL CSS (Splide.js) */

.splide {
    margin: 0 auto;
}

.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}

.thumbnail {
    width: 120px;
    height: 120px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.3;
    object-fit: cover !important;
}

.thumbnail.is-active {
    opacity: 1 !important;
}

.thumbnail img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.splide__slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.splide__slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.splide__track,
.splide__list {
    max-width: 250px;
    height: 400px;
    max-height: 60vh !important;
    margin: 0 auto;
    /* aspect-ratio: 1 / 1 !important; */
}