@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;

}

.wrapper {
    width: 100%;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    transition: all 0.3s;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#sidebar ul li a:hover {
    background: #495057;
}

#sidebar.active {
    margin-left: -250px;
}